/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.hljs {
	color: #24292e;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #22863a;
}

.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #24292e;
}

.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #005cc5;
	font-weight: bold;
}

.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #735c0f;
}

.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #24292e;
	font-style: italic;
}

.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #24292e;
	font-weight: bold;
}

.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: #22863a;
	background-color: #f0fff4;
}

.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: #b31d28;
	background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
}

/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

.d4r-dark .hljs {
	color: #c9d1d9;
}

.d4r-dark .hljs-doctag,
.d4r-dark .hljs-keyword,
.d4r-dark .hljs-meta .hljs-keyword,
.d4r-dark .hljs-template-tag,
.d4r-dark .hljs-template-variable,
.d4r-dark .hljs-type,
.d4r-dark .hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #ff7b72;
}

.d4r-dark .hljs-title,
.d4r-dark .hljs-title.class_,
.d4r-dark .hljs-title.class_.inherited__,
.d4r-dark .hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #d2a8ff;
}

.d4r-dark .hljs-attr,
.d4r-dark .hljs-attribute,
.d4r-dark .hljs-literal,
.d4r-dark .hljs-meta,
.d4r-dark .hljs-number,
.d4r-dark .hljs-operator,
.d4r-dark .hljs-variable,
.d4r-dark .hljs-selector-attr,
.d4r-dark .hljs-selector-class,
.d4r-dark .hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #79c0ff;
}

.d4r-dark .hljs-regexp,
.d4r-dark .hljs-string,
.d4r-dark .hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: #a5d6ff;
}

.d4r-dark .hljs-built_in,
.d4r-dark .hljs-symbol {
	/* prettylights-syntax-variable */
	color: #ffa657;
}

.d4r-dark .hljs-comment,
.d4r-dark .hljs-code,
.d4r-dark .hljs-formula {
	/* prettylights-syntax-comment */
	color: #8b949e;
}

.d4r-dark .hljs-name,
.d4r-dark .hljs-quote,
.d4r-dark .hljs-selector-tag,
.d4r-dark .hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #7ee787;
}

.d4r-dark .hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #c9d1d9;
}

.d4r-dark .hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #1f6feb;
	font-weight: bold;
}

.d4r-dark .hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #f2cc60;
}

.d4r-dark .hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #c9d1d9;
	font-style: italic;
}

.d4r-dark .hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #c9d1d9;
	font-weight: bold;
}

.d4r-dark .hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: #aff5b4;
	background-color: #033a16;
}

.d4r-dark .hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: #ffdcd7;
	background-color: #67060c;
}

.d4r-dark .hljs-char.escape_,
.d4r-dark .hljs-link,
.d4r-dark .hljs-params,
.d4r-dark .hljs-property,
.d4r-dark .hljs-punctuation,
.d4r-dark .hljs-tag {
	/* purposely ignored */
}
